
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
  }
  

 @-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
  
  .heart-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-image 0.5s ease-in-out;
  }
  
  .heart-button i {
    font-size: 20px;
    transition: color 0.5s ease-in-out;
  }
  
  .heart-button:hover i {
    color: #ff69b4;
  }
  .fa-heart {
    color: white;
    text-shadow: 0 0 0 black, 0 0 0 black, 0 0 0 bl, 0 1px 1px #000;
  }
  
  